.main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    gap: 5%;
    background-color: white;
    padding: 2%;
    border-radius: 16px;
    border: 1px solid grey;
    margin-bottom: 10%;
}

@media (max-width: 770px) {
    .main {
        margin-top: 15%;
    }
}
@media (max-width: 520px) {
    .main {
        margin-top: 20%;
    }
}
@media (max-width: 400px) {
    .main {
        margin-top: 25%;
    }
}
@media (max-width: 320px) {
    .main {
        margin-top: 30%;
    }
}
@media (max-width: 264px) {
    .main {
        margin-top: 35%;
    }
}